[Unit]
Description=ECM Watch
After=network.target

[Service]
ExecStart=/bin/bash /opt/atcom_api/ecm_watch.sh
WorkingDirectory=/opt/atcom_api
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target